<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="boxContent">
    <div class="firstRow">
        <div class="cardOne">
            <div class="description">
                <p>Nombre des etudients</p>
                <h3>{{nbretotale}}</h3>
            </div>
        </div>
        <div class="cardTwo">
            <div class="description">
                <p>Nombre des etudiants Non effectué a un stage</p>
                <h3>{{nbre}}</h3>
            </div>
        </div>
        <div class="cardThree">
            <div class="description">
                <p>Nombre des ensegnants</p>
          
          <h3>{{nbreense}}</h3>
            </div>
        </div>
        <div class="cardFour">
            <div class="description">
                <p>Nombre des salles</p>
                <h3>{{nbsalle}}</h3>
            </div>
        </div>
        <div class="cardFour">
            <div class="description">
                <p>Nombre des stages initialisation</p>
                <h3>{{nbstage1}}</h3>
            </div>
        </div>
        <div class="cardFour">
            <div class="description">
                <p>Nombre des stages perfactionnement</p>
                <h3>{{nbstage2}}</h3>
            </div>
        </div>
    </div>
</div>
